<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VegFlavor🌱 profile</title>
        <link rel="stylesheet" href="profile.component.scss">
    </head>
    <section class="profile">
        <a href="/home"><button class="btn" type="button">Ritorna alla homepage</button></a>
        <div class="profile-content">
            <h1>Il tuo profilo</h1>
            <div class="profile-info h2">
            <img width="85" height="85" src="assets/img/VeganForProfile.jpg" data-src="assets/img/VeganForProfile.jpg" alt="Profilephoto" title="User name" class="-in-lazy -is-loaded ls-is-cached">
            <p>Ciao Utente!</p>
            </div>
            <form>
                <h2>Modifica dati</h2>
                <div>
                    <label for="name">Nome </label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">Email </label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button class="btn" type="submit">Salva informazioni</button>
            </form>
            <button class="btn" (click)="logout()">Logout</button>
        </div>
    </section>
</html>