/* recipe-list.component.scss */

.recipe-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    #pagination {
      text-align: center;
    }
  
    .page-item {
      .page-link {
        cursor: pointer;
        color: green;
        &.colored {
          background-color: forestgreen;
          color: rgb(6, 231, 85);
        }
      }
    }
  }
  
  .page-item.active {
    .page-link {
      background-color: rgb(44, 216, 44);
      color: rgb(6, 231, 85);
    }
  }
  
  
  