<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VegFlavor🌱 signup</title>
    <link rel="stylesheet" href="singup.component.scss">
</head>
    <section class = "singup">
        <div class="singup-content">
            <h1>Registrati a VegFlavor🌱</h1>
            <form>
                <div>
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="surname">Cognome</label>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Registrati</button>
            </form>
        </div>
        </section>
</html>