/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
// background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #070707;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Featured Recipes Section */
.featured-recipes {
  padding: 50px 0;
}

.featured-recipes h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  width: 30%;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.recipe h3 {
  font-size: 1.5em;
  padding: 20px;
}

.recipe p {
  padding: 0 20px 20px 20px;
}

.recipe a {
  display: block;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}

.recipe a:hover {
  background-color: #555;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  text-align: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li img {
  width: 30px;
  height: 30px;
}
