<section class="hero">
  <div class="hero-content">
    <h1>Esplora il mondo delle ricette vegane</h1>
    <p>Scopri piatti deliziosi e nutrienti che rispettano l'ambiente e gli animali.</p>
    <a [href]="'/recipes?page=' + 1" class="btn btn-success btn-lg">Scopri le ricette</a>
  </div>
</section>

<div class="container-fluid">
  <h1 style="text-align: center;">Ricette in primo piano</h1><br>
  <section class="recipes" style="align-items: center;">
    <div *ngFor="let recipe of recipes">
      <app-recipe [recipe]="recipe" (recipeDeleted)="onDeleteRecipe($event)"></app-recipe>
    </div>
  </section>
</div>
