<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette Vegane</title>
    <link rel="stylesheet" href="home.component.scss">
</head>
<body>

    <section class="hero">
        <div class="hero-content">
            <h1>Esplora il mondo delle ricette vegane</h1>
            <p>Scopri piatti deliziosi e nutrienti che rispettano l'ambiente e gli animali.</p>
            <a href="#" class="btn">Scopri le ricette</a>
        </div>
    </section>

    <section class="featured-recipes">
        <h2>Ricette in primo piano</h2>
        <div class="recipes">
            <div class="recipe">
                <img src="/assets/temi/ricetta1.jpg" alt="Pasta primavera">
                <h3>Pasta primavera</h3>
                <p>Una gustosa pasta con verdure di stagione.</p>
                <a href="#" class="btn">Scopri la ricetta</a>
            </div>
            <div class="recipe">
                <img src="/assets/temi/ricetta2.jpg" alt="burger vegetali">
                <h3>burger vegetali</h3>
                <p>I burger vegetali sono molto semplici da preparare con i legumi che preferite</p>
                <a href="#" class="btn">Scopri la ricetta</a>
            </div>
            <div class="recipe">
                <img src="/assets/temi/ricetta3.jpg" alt="Torta vegana al cioccolato">
                <h3>Torta vegana al cioccolato</h3>
                <p>Una torta soffice e gustosa senza latticini e uova.</p>
                <a href="#" class="btn">Scopri la ricetta</a>
            </div>
        </div>
    </section>

    
</body>
</html>

