/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
// background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #070707;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Featured Recipes Section */
.featured-recipes {
  padding: 40px 0;
}

.featured-recipes h2 {
  font-size: 5em;
  margin-bottom: 30px;
  text-align: center;
}

.recipes {
  display: flex;
  flex-direction: column;
}

.recipe {
  max-width: 800px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 2px solid #a2e46f;
  border-radius: 10px;
  background-color: #dee8da;
  box-shadow: 4px 4px 8px #819275;
  padding: 1%;
  justify-content: space-between;
}

.recipe img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  flex-wrap: wrap;
}

.recipe-details{
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
  padding: 0 20px;
}

.recipe h3 {
  margin-top: 0;
  font-size: 35px;
  
}

.recipe p {
  margin-top: 5px;
  font-size: 20px;
}

.recipe a {
  display: block;
  background-color: #15d47b;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
}

.recipe a:hover {
  background-color: #555;
}
.recipe:hover{
  box-shadow: 0 0 10px 5px #a2e46f;
  transition: transform 0.3s;
  transform: scale(1.1);
  z-index: 1;
}
@media (max-width: 768px) {
  .recipe {
    flex-direction: column;
  }

  .recipe img {
    width: 100%;
    height: auto;
  }
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  text-align: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li img {
  width: 30px;
  height: 30px;
}
div.btn{
  background-color: greenyellow;
  color: rgb(166, 53, 53);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}