<!DOCTYPE html>
<html>
<h1>Dettagli della ricetta</h1>

<div class="card" *ngIf="recipe$ | async as recipe">
  <div class="card-body">
    <h3 class="card-title">{{ recipe.title }}</h3>
    <p class="card-text">{{ recipe.description }}</p>
    <p class="card-text"><strong>Istruzioni:</strong> {{ recipe.instructions }}</p>
    Ingredients:
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }}: {{ ingredient.quantity }}
        </li>
    </ul>
    <p class="card-text"><strong>Tempo di cottura:</strong> {{ recipe.cookTime }}</p>
    <p class="card-text"><strong>Tempo di preparazione:</strong> {{ recipe.prepTime }}</p>
    <p class="card-text"><strong>Porzioni:</strong> {{ recipe.servingSize }}</p>

    <img src="" alt="{{ recipe.title }}" crossorigin>
  </div>

</div>
<button type="button" class="btn btn-outline-success" (click)="goToFirstPage()">Torna alla pagina 1 delle
  ricette</button>

</html>
