<!-- login.component.html -->

<section>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/img/VeganLoginPage.jpg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
                   placeholder="Enter a valid email address">
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
                   placeholder="Enter password">
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox 
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe" formControlName="rememberMe">
              <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>-->
            <a href="#" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                      class="link-danger">Register</a></p>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
