<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand h1" [routerLink]="'home'">VegFlavor🌱</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-success" [routerLink]="'home'">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLoggedIn()" class="nav-link text-success" [routerLink]="'login'">Login</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLoggedIn()" class="nav-link text-success" [routerLink]="'register'" >Registrati</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn()">
            <a  class="nav-link dropdown-toggle text-success" role="button"
               data-bs-toggle='dropdown' aria-expanded="false">
              <i class="bi bi-person-fill"></i> Profilo </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li >
                <a class="dropdown-item text-success" [routerLink]="'profile'"> Account </a>
              </li>
              <li >
                <a class="dropdown-item text-success" (click)="logout()">Log out</a>
            </li>
            </ul>
          </li>
          <li class="nav-item">
            <a *ngIf="isLoggedIn()" class="nav-link text-success" [routerLink]="'createRecipe'" >Crea la tua ricetta</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid main-app-container">
    <router-outlet></router-outlet>
  </div>
  
