<!DOCTYPE html>
<html>
<title>Tutte le Ricette</title>

<h2>Ricette</h2>
<div id="recipe-list">
    <ul>
        <li *ngFor="let recipe of pagedRecipes">
            <strong>{{ recipe.title }}</strong>: {{ recipe.description }}<br>
            Istruzioni: {{ recipe.instructions }}<br>
            Ingredienti: {{ recipe.ingredients }}<br>
            Tempo di Preparazione: {{ recipe.prepTime }} minutes<br>
            Tempo di Cottura: {{ recipe.cookTime }} minutes<br>
            Porzioni: {{ recipe.servingSize }}<br>
            <br>
            Paginated Page: {{ currentPage }} of {{ totalPages() }}<br>
        </li>
    </ul>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" (click)="prevPage()">
            <a class="page-link" aria-label="Previous">Previous</a>
        </li>
        <ng-container *ngFor="let item of pageNumbers()">
            <li class="page-item" *ngIf="item === '...'">
                <a class="page-link">...</a>
            </li>
            <li class="page-item" *ngIf="item !== '...'">
                <a class="page-link" (click)="goToPage(+item)" [class.active]="currentPage === item">{{ item }}</a>
            </li>
        </ng-container>
        <li class="page-item" (click)="nextPage()">
            <a class="page-link" aria-label="Next">Next</a>
        </li>
    </ul>
</nav>

</html>