
<title>Tutte le Ricette</title>

<h2>Ricette</h2>
<div id="recipe-list">
    <ul>
        <li *ngFor="let recipe of (recipes$ | async)?.recipes">
                <strong>{{ recipe.title }}</strong>: {{ recipe.description }}<br>
                Instructions: {{ recipe.instructions }}<br>
                Ingredients:
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }}: {{ ingredient.quantity }}
                </li>
            </ul>
                Prep Time: {{ recipe.prepTime }} minutes<br>
                Cook Time: {{ recipe.cookTime }} minutes<br>
                Serving Size: {{ recipe.servingSize }}<br><br>
                <button href="#" [routerLink]="['/recipeDetails', recipe.id]" class="btn btn-outline-success">Scopri la ricetta</button>
            
        </li>
        <!--<button (click)="createRecipe()" class="btn btn-success btn-lg">Crea Nuova Ricetta</button>-->
        Paginated Page: {{ currentPage }} of {{ getTotalPages() }}<br>
    </ul>
</div>

<!--
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" (click)="prevPage()">
            <a class="page-link" aria-label="Previous">Precedente</a>
        </li>
        <ng-container *ngFor="let item of pageNumbers()">
            <li class="page-item" *ngIf="item === '...'">
                <a class="page-link">...</a>
            </li>
            <li class="page-item" *ngIf="item !== '...'">
                <a class="page-link" (click)="goToPage(+item)" [class.active]="currentPage === item">{{ item }}</a>
            </li>
        </ng-container>
        <li class="page-item" (click)="nextPage()">
            <a class="page-link" aria-label="Next">Prossimo</a>
        </li>
    </ul>
</nav>
-->

<nav aria-label="Page navigation example">
    <ul class="pagination active">
      <li class="page-item" (click)="prevPage()">
        <a class="page-link" aria-label="Previous">Precedente</a>
      </li>
      <ng-container *ngFor="let item of pageNumbers()">
        <li class="page-item" *ngIf="item === '...'">
            <a class="page-link">...</a>
        </li>
        <li class="page-item " *ngIf="item !== '...'">
            <a class="page-link" (click)="goToPage(+item)" [class.active]="currentPage === item">{{ item }}</a>
        </li>
    </ng-container>
      <li class="page-item" (click)="nextPage()">
        <a class="page-link">Prossimo</a>
      </li>
    </ul>
  </nav>
  