
<title>Tutte le Ricette</title>

<div class="recipe">
  <img src="/assets/temi/ricetta1.jpg" alt="Pasta primavera">
  <div class="recipe-details">
    <h3>{{  recipe.title }}</h3>
    <p class="description">{{  recipe.description }}</p>
    <button class="btn btn-success btn-lg" href="#">Scopri la ricetta</button>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination active">
      <li class="page-item" (click)="prevPage()">
        <a class="page-link" aria-label="Previous">Precedente</a>
      </li>
      <ng-container *ngFor="let item of pageNumbers()">
        <li class="page-item" *ngIf="item === '...'">
            <a class="page-link">...</a>
        </li>
        <li class="page-item " *ngIf="item !== '...'">
            <a class="page-link" (click)="goToPage(+item)" [class.active]="currentPage === item">{{ item }}</a>
        </li>
    </ng-container>
      <li class="page-item" (click)="nextPage()">
        <a class="page-link">Prossimo</a>
      </li>
    </ul>
  </nav>
