/* recipe-list.component.scss */

.recipe-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  #pagination {
    text-align: center;
  }
 // bootrsap method to change the color of the active page
  a.page-link.active {
    background-color: forestgreen;
    color: white;
  }

  a.page-link {
    color: black;
  }
}