<div class="main">
  <h1>Sign up</h1>
  <div class="container">
    <div class="sign-up-content">
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>

        <div class="form-textbox">
          <label for="name">Nome</label>
          <input type="text" formControlName="name" id="name" />
        </div>
        <div class="form-textbox">
          <label for="surname">Surname</label>
          <input type="text" formControlName="surname" id="surname" />
        </div>
        <div class="form-textbox">
          <label for="email">Email</label>
          <input type="email" formControlName="email" id="email" />
        </div>

        <div class="form-textbox">
          <label for="password">Password</label>
          <input type="password" formControlName="password" id="password" />
        </div>

       <!-- <div class="form-group">
          <input type="checkbox" formControlName="terms" id="terms" class="agree-term" />
          <label for="terms" class="label-agree-term">
            <span><span></span></span>Registrandoti accetti i termini e le condizioni: 
            <a href="#" class="term-service">Terms of service</a>
          </label>
        </div>-->

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg" [disabled]="registerForm.invalid">Crea un account</button>
        </div>
      </form>

      <p class="loginhere">
        Hai già un account ?<a href="#" class="loginhere-link">Log in</a>
      </p>
    </div>
  </div>
</div>
