<div class="main">
  <h1>Sign up</h1>
  <div class="container">
    <div class="sign-up-content">
      <form method="POST" class="signup-form">

        <div class="form-textbox">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" />
        </div>

        <div class="form-textbox">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>

        <div class="form-textbox">
          <label for="pass">Password</label>
          <input type="password" name="pass" id="pass" />
        </div>

        <div class="form-group">
          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
          <label for="agree-term" class="label-agree-term"><span><span></span></span>Registrandoti accetti i termini e le condizioni:  <a href="#" class="term-service">Terms of service</a></label>
        </div>

        <div class="form-group text-center">
          <input type="submit" name="submit" id="submit" class="btn btn-success btn-lg" value="Crea un account" />
        </div>
      </form>

      <p class="loginhere">
        Hai già un account ?<a href="#" class="loginhere-link">Log in</a>
      </p>
    </div>
  </div>
</div>
